<main>
  <mat-card>
    <form [formGroup]="runForm" (ngSubmit)="run(runForm.value)">
      <mat-grid-list cols="2" rowHeight="1.5:1">
        <mat-grid-tile>
          <div>
            <h1>Run Tests</h1>
            <mat-form-field appearance="fill">
              <mat-label>Prompts</mat-label>
              <mat-select formControlName="prompts">
                <mat-option *ngFor="let prompt of promptsList | keyvalue" [value]="prompt.key">{{prompt.key}}</mat-option>
              </mat-select>
              <mat-error *ngIf="prompts.hasError('required')">Prompts are required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Device</mat-label>
              <mat-select formControlName="device">
                <mat-option *ngFor="let device of deviceList | keyvalue" [value]="device.key">{{device.key}}</mat-option>
              </mat-select>
              <mat-error *ngIf="device.hasError('required')">Device is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Major Tests</mat-label>
              <mat-select formControlName="tests" multiple>
                <mat-option *ngFor="let test of tests | keyvalue" [value]="test.key">{{test.key}}</mat-option>
              </mat-select>
            </mat-form-field>
            <button type="submit" [disabled]="!runForm.valid" mat-raised-button color="primary"><mat-icon>play_arrow</mat-icon> Run</button>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <section #terminal>
            {{ stdout }}
          </section>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-card>
</main>
