<main>
  <mat-card>
    <mat-grid-list cols="2">
      <mat-grid-tile>
        <div>
          <h1></h1>
          <mat-form-field>
            <mat-label>Target Name</mat-label>
            <input matInput >
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <app-file-upload name="CA Cert"></app-file-upload><br>
          <app-file-upload name="CA Key"></app-file-upload><br>
          <button mat-raised-button color="primary">Save</button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</main>
