<main>
  <mat-card>
    <div>
      <h1>Prompts</h1>
      <mat-form-field appearance="fill">
        <mat-label>Edit existing prompts</mat-label>
        <mat-select [formControl]="selected" name="device">
          <mat-option>Create new set of prompts</mat-option>
          <mat-option *ngFor="let p of promptsList" [value]="p">{{p}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Sample input</mat-label>
        <input matInput >
      </mat-form-field>
    </div>
    <div>
      <h2>Files</h2>
      <app-file-upload name="CA Cert"></app-file-upload><br>
      <app-file-upload name="CA Key"></app-file-upload><br>
      <button mat-raised-button color="primary">Save</button>
    </div>
  </mat-card>
</main>
