.drop {
  padding: 20px 0 30px 0;
  margin: 30px 0;
  width: 280px;
  display: inline-block;
  text-align: center;
  background-color: #222;
  border-radius: 1em;
  border: 3px solid #222;
  cursor: pointer;
  transition: all .3s;
}
mat-label {
  display: block;
  margin-bottom: -20px;
}

.drop:hover {
  border: 3px solid #e91e63;
}

.drop input {
  top: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  z-index: 2;
  width: 280px;
}

.drop label {
  color: #e91e63;
  width: 100px;
  cursor: pointer;
  border-radius: 1em;
  padding: .5em 1em;
  border:  #e91e63 3px solid;
}
